<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>footer</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="/comi/resources/css/footer.css"/>
</head>
<body>
	<!-- Footer Section Begin -->
	<footer class="footer">
		<div class="container side_margin_zero">
			<div class="footer_section_box">
				<div class="footer_section">
					<div class="footer_div">
						<img src="/comi/resources/images/logo.png" class="footer_logo">
						<div class="footer_right">
							<div class="footer_right_sub">
								<label class="footer_right_sub_label">서비스</label>
								<div class="footer_right_subsub">
									<span class="footer_right_sub_text">앱 다운로드</span>
									<span class="footer_right_sub_text">공지사항</span>
									<span class="footer_right_sub_text">고객센터</span>
								</div>
							</div>
							<div class="footer_right_sub">
								<label class="footer_right_sub_label">문의</label>
								<div class="footer_right_subsub">
									<span class="footer_right_sub_text"><a href="#">사업 제휴</a></span>
									<span class="footer_right_sub_text"><a href="#">광고 문의</a></span>
								</div>
							</div>
						</div>
					</div>

					<div class="footer_bottom_1">
						<label class="footer_text_2"><b>(주)십시일반</b></label>
						<div class="">
							<p class="footer_text_2">
								<span>사업자 등록번호 : 없음</span> |<span> 팀장 : 김정선 </span>| 팀원 : 전성훤, 이재민, 나정운, 김건, 서진우 | <br>서울특별시 서초구 서초대로77길 41, 4층 (서초동, 대동Ⅱ)
							</p>
						</div>
					</div>
					<div class="footer_bottom_2">
						<span class="footer_text_1">서비스 이용약관</span>
						<span class="footer_text_1">개인정보 처리방침</span>
						<span class="footer_text_1 footer_copyright_text">Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="#" target="_blank" class="team_text">Komi</a></span>
					</div>

				</div>
			</div>

		</div>
	</footer>
	<!-- Footer Section End -->

	<!-- 상담 -->
	<div>
		<div class="launcher_character">
			<button id="launcher_btn" type="button" class="">
				<span class="text_hidden">상담 버튼</span>
				<img alt="" src="/comi/resources/images/launcher.png" width="64" height="64" class="character_img">
				<div class="hidden_message">
					<span class="">0개의 안읽은 메시지</span>
				</div>
			</button>
		</div>
	</div>
	<!-- 상담 End -->
</body>
</html>