<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>party_view</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="/comi/resources/css/lib/jquery-ui.min.css"/>
	<link rel="stylesheet" type="text/css" href="/comi/resources/css/main.css"/>
	<link rel="stylesheet" type="text/css" href="/comi/resources/css/party_view.css"/>
	<link rel="stylesheet" type="text/css" href="/comi/resources/css/party_view_click.css"/>
	<script type="text/javascript" src="/comi/resources/js/lib/jquery.min.js"></script>
	<script type="text/javascript" src="/comi/resources/js/lib/axios.min.js"></script>
	<script type="text/javascript" src="/comi/resources/js/common.js"></script>
	<script type="text/javascript" src="/comi/resources/js/party_view.js"></script>
</head>
<body>
	<!-- Header Section Begin -->
    <header id="header_view">    
    </header>
    <!-- Header Section End -->

	<!-- main -->
	<main class="main_wrapper">
		<div class="container">

			<div class="search-container">
				<div class="search-box">
					<button class="search-btn">
						<img src="/comi/resources/images/search_btn.png" class="search-image">
					</button>
					<input type="text" placeholder="찾고 싶은 공유 모임을 검색해보세요." class="search-box-text" value="">
				</div>
				<div class="search-classify">
					<span class="search-classify-title">분류</span>
					<select class="search-classify-select" onchange="changeCategory(this.value);">
						<option value="all" selected>전체</option>
						<option value="meeting">모임</option>
						<option value="group">공구</option>
						<option value="rental"> 렌탈</option>
						<option value="game">게임</option>
						<option value="etc"> 기타</option>
					</select>

					<select class="search-classify-select" onchange="changeSort(this.value);">
						<option value="accuracy" selected>정확도순</option>
						<option value="interest">관심순</option>
						<option value="recent">최신순</option>
					</select>

				</div>
			</div>

			<div class="main_portfolio">
				<a class="port_box flexBox" href="/comi/views/party/party_view_click.html">
					<div class="image featured">
						<img src="/comi/resources/images/pic01.jpg" alt="" />
					</div>
					<div class="text_box">
						<div class="port_box_title">카드 판매합니다.</div>
						<div class="port_box_textbox">
							<div class="port_box_price">가격 : <span class="price_all">230000</span></div>
							<div class="port_box_deposit">예치금 : <span class="price_deposit">130000</span></div>
						</div>
						<div class="port_box_textbox">
							<div class="port_box_address">서울시 동작구 상도로 15길</div>
							<div class="port_box_date">3일전</div>
						</div>
						<div class="port_box_textbox">
							<div class="port_box_text">인원 모집 3명</div>
							<div class="port_box_text">인당 5,000원</div>
						</div>
					</div>
				</a>
				<a class="port_box flexBox" href="/comi/views/party/party_view_click.html">
					<div class="image featured">
						<img src="/comi/resources/images/pic01.jpg" alt="" />
					</div>
					<div class="text_box">
						<div class="port_box_title">카드 판매합니다.</div>
						<div class="port_box_textbox">
							<div class="port_box_price">가격 : <span class="price_all">230000</span></div>
							<div class="port_box_deposit">예치금 : <span class="price_deposit">130000</span></div>
						</div>
						<div class="port_box_textbox">
							<div class="port_box_address">서울시 동작구 상도로 15길</div>
							<div class="port_box_date">3일전</div>
						</div>
						<div class="port_box_textbox">
							<div class="port_box_text">인원 모집 3명</div>
							<div class="port_box_text">인당 5,000원</div>
						</div>
					</div>
				</a>
				<a class="port_box flexBox" href="/comi/views/party/party_view_click.html">
					<div class="image featured">
						<img src="/comi/resources/images/pic01.jpg" alt="" />
					</div>
					<div class="text_box">
						<div class="port_box_title">카드 판매합니다.</div>
						<div class="port_box_textbox">
							<div class="port_box_price">가격 : <span class="price_all">230000</span></div>
							<div class="port_box_deposit">예치금 : <span class="price_deposit">130000</span></div>
						</div>
						<div class="port_box_textbox">
							<div class="port_box_address">서울시 동작구 상도로 15길</div>
							<div class="port_box_date">3일전</div>
						</div>
						<div class="port_box_textbox">
							<div class="port_box_text">인원 모집 3명</div>
							<div class="port_box_text">인당 5,000원</div>
						</div>
					</div>
				</a>
				<a class="port_box flexBox" href="/comi/views/party/party_view_click.html">
					<div class="image featured">
						<img src="/comi/resources/images/pic01.jpg" alt="" />
					</div>
					<div class="text_box">
						<div class="port_box_title">카드 판매합니다.</div>
						<div class="port_box_textbox">
							<div class="port_box_price">가격 : <span class="price_all">230000</span></div>
							<div class="port_box_deposit">예치금 : <span class="price_deposit">130000</span></div>
						</div>
						<div class="port_box_textbox">
							<div class="port_box_address">서울시 동작구 상도로 15길</div>
							<div class="port_box_date">3일전</div>
						</div>
						<div class="port_box_textbox">
							<div class="port_box_text">인원 모집 3명</div>
							<div class="port_box_text">인당 5,000원</div>
						</div>
					</div>
				</a>
				<a class="port_box flexBox" href="/comi/views/party/party_view_click.html">
					<div class="image featured">
						<img src="/comi/resources/images/pic01.jpg" alt="" />
					</div>
					<div class="text_box">
						<div class="port_box_title">카드 판매합니다.</div>
						<div class="port_box_textbox">
							<div class="port_box_price">가격 : <span class="price_all">230000</span></div>
							<div class="port_box_deposit">예치금 : <span class="price_deposit">130000</span></div>
						</div>
						<div class="port_box_textbox">
							<div class="port_box_address">서울시 동작구 상도로 15길</div>
							<div class="port_box_date">3일전</div>
						</div>
						<div class="port_box_textbox">
							<div class="port_box_text">인원 모집 3명</div>
							<div class="port_box_text">인당 5,000원</div>
						</div>
					</div>
				</a>
			</div>

			
		</div>
	</main>
	

	<!-- Footer Section Begin -->
	<footer id="footer_view">	
	</footer>
	<!-- Footer Section End -->
</body>
</html>